/* Page background colour and font
body {
    background:rgb(65, 65, 65);
    font-family: calibri;
} */

/* header styling
header {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: 200%;
    color:white
} */

/* Grid container desgin */
.grid-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    flex-basis: 31%;
}

/* Header styling and grid-area assignment
.card-header {
    grid-area: header;
    height:40px;
    color:white;
    font-size: 180%;
    text-align: center;
    background-color: black;
    border-radius: 40px;
} */

/* img styling and grid area assignment */
.img {
    grid-area: img;
    height: 200px;
    width: 250px;
    border: solid black;
    border-radius: 0 30px 0 30px;
    cursor: pointer;
}

/* stext grid area assignment */
.stext {
    grid-area: stext;
    height: auto;
}

/* button1 grid area assignment */
.button1 {
    grid-area: button1;
    text-align: center;
}

/* button2 grid area assignment */
.button2 {
    grid-area: button2;
    text-align: center;
}

/* Card design and styling */
.card {
    display: flex;
    grid-template-areas: 
    'header header header header'
    'img img img img'
    'stext stext stext stext'
    'button1 button1 button2 button2';
    gap: 5px;
    background-color: white;
    border: solid black;
    padding: 10px;
    border-radius:30px;
    box-shadow: 5px 5px 2.5px black;
    transition: all .2s ease-in-out;
}

/* Found online: https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.card:hover { 
    transform: scale(1.05);
    box-shadow: 10px 10px 5px black; 
}

/* image positioning */
img.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* Button Styling */
button {
    width: 100%;
    border: solid 2px black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* Button light up effect */
button:hover {
    background-color: black;
    color: white;
}