*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	/* background-image: linear-gradient(red, yellow, blue); */
	padding: 0;
	margin: 0;
	font-family: 'Farsan', cursive;
	font-weight: 800;
	font-size:x-large;
}

header{	
	background-image: url("../Images/Image8.png");
	background-size: contain;	
	position:sticky;
	top: 0;
	z-index: 100;
	background-color:wheat;
	height: 140px;
}
.website-header{
	padding: 20px;
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	font-weight: 800px;
}

/* HEADER IMAGE (LOGO) NEEDS TO NOT OVERLAP SO PROPER ASPECT RATIO CAN BE ACHEIVED */
.website-header img{
	float: left;
	width: 150px;
	height: 80px;	
	margin: 0 30px;
	opacity: .6;
}
.website-header h1{
	margin: auto 0;
	font-weight: 800;
}
.website-header h1 a{
	text-decoration: none;
	color: black;
}
h1{
	font-weight: 800;
}
p{
	color: #777;
	font-size: 30px;
	font-weight: 300px;
	line-height: 35px;
	padding: 20px;
}
nav{
	height: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.navbar-toggler{
	text-align: right;
}
.navbar-toggler:hover{
	background-color:rgba(245, 222, 179, 0.4);
}
nav ul{
		margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
	color:#e08b6c;
	text-decoration: underline;
	background-color: lightgrey;
}
.signup{
    font-family:cursive;
    size: 50px;
    padding: 10px;
    border-radius: 10px;
    background: skyblue;
    border-color: black;
}
.signup:hover{
    background-color: blue;
    transition: 0.4s;
}
.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 30px;
	text-transform: uppercase;
	color:red;
	font-weight: 900;
	margin-left: 30px;
}
.breaking-news{
	padding: 30px;
	font-size: 30px;
	color: rgb(37, 155, 37);
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: black;
	padding: 0 10px;
	font-size: 18px;
}
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
}
#popular-news h2{
	margin: 0;
	padding: 5px;
	color: #fff;
}
#featured h2{
	background-color: red;
	margin: 10px;
}
#latest h2{
	background-color: blue;
	margin: 10px;
}
#our-picks h2{
	background-color: green;
	margin: 10px;
}
#featured{
	flex: 2;
}
#latest,#our-picks{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}
.carousel, .news-container{
	position: relative;
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.car-text{
	color: #fff;
}
.news-container .carousel-text{
	font-size: 18px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
.news{
	margin: 10px;
}
.popular-news-carousel{
	margin: 10px;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
}
.news-container:hover > img{
	filter: brightness(0.4);
}
.spoilers{
	font-size: 20px;
	color: red;
}

aside img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 10%;
}

@keyframes fade {
	0%   { opacity: 0; }
	11.11%   { opacity: 1; }
	33.33%  { opacity: 1; }
	44.44%  { opacity: 0; }
	100% { opacity: 0; }
  }
  
.advert { 
	position:relative;
	height:15em;
}

.advert img { 
	position:absolute; 
	left:0; 
	right:0; 
	opacity:0; 
	animation-name: fade; 
	animation-duration: 9s; 
	animation-iteration-count: infinite; 
}

.advert img:nth-child(1) { 
	animation-delay: 0s;  
}

.advert img:nth-child(2) { 
	animation-delay: 3s;  
}

.advert img:nth-child(3) {
	animation-delay: 6s;  
}

aside{
	padding: 2%;
}

.products{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#4c23e280));
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;


}
.players{
	background: white;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
}
.grid-container {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.card{
	flex-basis: 31%;
	background: red;
	margin-bottom: 5%;
	padding: 20px 12px;
}
.humans{
	display:flex;
	flex-basis: 31%;
	padding: auto;
}
.athletes:hover{
	transform:scale(1.1);
}
.highlights{
	background: rgba(20, 155, 233, .2);
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	padding: 10px;
}
.hlight-container{
	width: 70%;
	height: 50%;
	display: inline-block;
}
.videos{
	max-width: 100%;
	padding: auto;
}
.social-links{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: center;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}
.footer-buttons{
	display: block;
	border: 1px solid #2196f3;
	color: #2196f3;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}

.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}
@media (max-width: 700px) {
	.breaking-news-section{	
		padding: 10px;
		flex-wrap: wrap;
		height: 70px;
	}
	.navbar-nav li a:hover{
		color:#e08b6c;
		text-decoration: underline;
		background-color: lightgrey;
	}
	#btext{
		margin: 15px;
	}
	#featured{
		flex: auto;
	}	
	.social-links section{
		flex-basis: 100%;		
	}
	.social-links section{
		margin-top: 20px;
	}

	/* BREAKS RESPONSIVE DESIGN AND BEST PRACTICE IMG ASPECT RATIO */
	.website-header img{
		object-fit: contain ;
		padding: 5px;
		margin: 0px;
	}
	.website-header h1{
		font-size: 30px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: white;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url("../Images/hamburger.png");
		z-index: 16;
	}
	.grid-container {
		flex-basis: 33%;
	}
}
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all 3s ease;
  }
  
  .reveal.active{
	transform: translateY(0px);
	opacity: 1;
  }
#scrollupbtn{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 60%;
	background: #e62739;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: white;
	outline: none;
	cursor: pointer;
	border: none;
	text-align: center;
}
#scrollupbtn:active{
	background: #aa2333;
	pointer-events: auto;
	opacity: 1;
}

p.results{
	font-weight: bold;
	color: black;
}
.videos{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: auto;
}
.videos iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}