<link rel="stylesheet" href="RegFormCSS.css">


  <form action="action_page.php">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="FullName"><b>Full Name</b></label>
      <input type="text" placeholder="Enter your Full Name" name="FullName" required>
  
      <label for="Email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <label for="password-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password-repeat" required>
      <label for="telephone number"><b>Telephone Number</b></label>
      <input type="tel" placeholder="Enter Telephone Number (Start with your country code)" name="telephone number" id="telephone number" pattern="[0-9]{3[0-9]{3}[0-9]{3}[0-9]{3}" required>

      <label for="birthdate"><b>Birthdate</b></label>
      <input type="date" placeholder="Enter Birthdate (formal DD-MM-YYYY)" name="birthdate" id="birthdate" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="javascript:void(0)">Terms & Privacy</a>.</p>
      <button type="submit" class="RegisterButton">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form> 
 