

    .regform{
        width: 800px;
        background-color: (211,211,211);
        margin: auto;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;

    }

       .main{
           background-color: rgb(47,79,79);
           width: 800px;
           margin: auto;

       }

       form{
           padding: 10px;

       }


.name{
         
           width: 125px;
           color: white;
           font-weight: 700;
           font-size: 22px
          

        }
 .firstname{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;
 }


.lastname{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;
}

.address{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;
}

.E-mail{
    width: 125px;
    color: white;
    font-weight: 700;
    font-size: 22px
}

.email{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;


}

.Phone{
    width: 125px;
    color: white;
    font-weight: 700;
    font-size: 22px
  

}

.phone{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 8px;
    font-size:px;

}

.number{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;

}

.password{
    width: 125px;
    color: white;
    font-weight: 700;
    font-size: 22px
 }


    
.pass1{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;

}

.pass2{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;
}
.Dob{ width: 125px;
    color: white;
    font-weight: 700;
    font-size: 22px
 }


.dob{
    position: relatives;
    Left: 200px;
    top: -30px;
    border-radius: 6px;
    Line-height: 30px;
    padding: 0 22px;
    font-size: 16px;
    color: black;

    }
#terms{
    margin-Left: -32px;
    margin-top: 1px;
    width: 125px;

}

.condition{
    color: white;
    font-size: 18px;
    text-align: left;
}
 .btn{
     background-color: red;
     color: white;
     border: 2px;
     padding: 8px 8px;
     cursor: pointer;
     font-size: 16px;
     text-align: center;
 }
 .btn:hover{
     background-color: green;
 }