<link rel="stylesheet" href="CardCSS.css">

<div class="flip-card">

    <div class="flip-card-inner">

        <div class="flip-card-front">
    
            <h1>Cashless welfare card could unfairly target thousands 
                of Aboriginal people in the NT, Senate committee hears</h1>
                <img src="R.png" alt="Cashless welfare card could unfairly target thousands 
                of Aboriginal people in the NT, Senate committee hears" style="width:100%">

    
        </div>

        <div class="flip-card-back">
            <h1> Key points:</h1>
            <p>
                The Coalition has proposed the introduction of the cashless welfare card in Northern Territory from April 2020
                Aboriginal-controlled community organisations have been scathing of the move, labelling it oppressive and like being 'fed by rations'
                Previous studies into the trial sites have been ineffective at determining any reduction in social harm due to missing and mismatching dataPlay from a first or third-person perspective, the game is set in an open-world environment featuring a fictionalized version of the Western, Midwestern, and Southern United States in 1899, during the latter half of the Wild West era and the turn of the twentieth century..</p>
            <hr>
            
        
            </p>
            <a href="https://www.abc.net.au/news/2019-11-01/cashless-welfare-card-committee-hearing-northern-territory/11662892">Watch Full news...</a>
           
            
        </div>

    </div>

</div>
