/* body{
    width: max-content;
    height: max-content;
} */

.flex-container{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.item1,
.item2,
.item3,
.item4{
    background-color: aqua;
}

.item1,
.item4{
    flex-basis: auto;
}

.item2,
.item3{
    flex-basis: 50%;
}